<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics Booking Home</title>

    <link rel="shortcut icon" type="image/x-icon" href="/Images/logo1.png">
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="header-container">
            <a href="/index.html">
                <img src="Images/logo1.png" alt="Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about.html">About Us</a></li>
                    <li><a href="/service.html">Services</a></li>
                    <li><a href="/contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    

    <!-- Main Content Section -->
    <div class="container">
        <h1>Welcome to Logistics Booking</h1>
        <p>Click the button below to book your logistic.</p>

        <!-- Button Container -->
        <div class="button-container">
            <button type="button" class="button" onclick="window.location.href='/cancel.html'">Cancel Booking</button>
            <button type="button" class="button" onclick="window.location.href='/form.html'">Book Now</button>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Logistics Booking. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>